:root {
  --size1: 67.34px;
  --size2: 50.52px;
  --size3: 37.90px;
  --size4: 28.43px;
  --size5: 21.33px;
  --size6: 16px;
  --size7: 12px;
  --size8: 9px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #D0E3FF;
  font-family: 'Open Sans', sans-serif;
}

#title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: var(--size1);
  color: #5F008B;
  filter: drop-shadow(-3px 3px 3px #F919C7);
  margin: 3rem 0 0 0;
}

p.tagline {
  color: #5F008B;
  filter: drop-shadow(-3px 3px 15px #5F008B);
}

div.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 1rem;
}

div.picture-card-container {
  flex: 0 1 calc(25% - 1em);
  background-color: #FFF;
  border-radius: 5px;
  filter: drop-shadow(0 .4rem .3rem rgba(0, 0, 0, .50));
  margin: 0 1rem 1rem 1rem;
}

img.image {
  width: 100%;
  max-height: 320px;
  object-fit: cover;
  margin: 0 0 1rem 0;
  border-radius: 5px 5px 0 0;
  transition: all 3s ease-in;
}

img.image:hover {
  max-height: 1000px;
  transition: all .25s ease-in;
}

div.information {
  padding: 0 1rem 1rem;
}

h2 {
  font-size: var(--size4);
}

h3 {
  font-size: var(--size6);
}

p {
  font-size: var(--size6);
}

div.information h2, div.information h3 {
  text-align: center;
}

div.information p {
  text-align: justify;
  font-size: var(--size6);
  line-height: 1.75rem;
}

div.vote-interface {
  display: grid;
  grid-template-columns: 70% 30%;
}

button {
  align-items: center;
  font-size: var(--size5);
  margin: 0 0 0 1rem;
  width: 100%;
  height: 2.5rem;
  color: white;
  background: linear-gradient(90deg, rgba(208,227,255,1) 10%, rgba(44,126,172,1) 100%);
  border: 0;
  border-right: 17px solid #739AB0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.3s ease-in-out;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:hover {
  margin: 0 0 0 2rem;
}

.large-button {
  appearance: auto;
  cursor: default;
  box-sizing: border-box;
  padding: 1px 6px;
  font-size: var(--size5);
  width: 100%;
  height: 2.5rem;
  color: white;
  background: linear-gradient(90deg, rgba(208,227,255,1) 10%, rgba(44,126,172,1) 100%);
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.large-button:focus {
  outline: none;
  box-shadow: none;
}

.large-button:hover {
  margin: 0 0 0 1rem;
}

div.counter-container {
  margin: 0 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2C7EAC;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

p.counter {
  margin: 0;
}

/* flexbox media queries */

@media all and (min-width: 1600px) {
  div.container  {
      flex-direction: row;
  }
}