.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #D0E3FF;
}

#title {
  font-size: 64px;
  color: #5F008B;
  filter: drop-shadow(-.2rem .2rem .3rem #F919C7)
}

div.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  padding: 0 4rem 4rem;
}

div.picture-card-container {
  background-color: #FFF;
  border-radius: 5px;
  filter: drop-shadow(0 .4rem .3rem rgba(0, 0, 0, .50))
}

img.image {
  width: 90%;
  padding: 1.25rem 0;
}

div.information {
  padding: 0 1rem 1rem;
}

div.vote-interface {
  display: grid;
  grid-template-columns: 70% 30%;
}

button {
  align-items: center;
  margin: 0 0 0 1rem;
  width: 100%;
  height: 2.5rem;
  color: white;
  background: linear-gradient(90deg, rgba(208,227,255,1) 10%, rgba(44,126,172,1) 100%);
  border: 0;
  border-right: 17px solid #739AB0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 1px 4px #9AA5B5;
  /* box-shadow: 0 4px 4px #9AA5B5; */
}

button:focus {
  outline: none;
  box-shadow: none;
}

div.counter-container {
  margin: 0 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2C7EAC;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  box-shadow: 0 1px 4px #ced9ec;
}

p.counter {
  margin: 0;
}